{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    <!-- <p class="user"> Welcom</p> -->
   

   <div class="wrapper">
    <!--Top menu -->
   <div class="sidebar">
       <!--profile image & text-->
       <div class="profile">
        <img src="{% static 'images/admin.jpg' %}" alt="profile_picture">
        <h3>Admin</h3>
        <!-- <p>Designer</p> -->
       </div>
        <!--menu item-->
        <ul>
            <li>
                <a href="" >
                    <span class="icon"><img src="{% static 'images/home.png' %}" alt="add_product" ></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'images/add.png' %}" alt="add_product" ></span>
                    <span class="item">Add product</span>
                </a>
            </li>
            <li>
                <a href="{% url 'seller:orders' %}">
                    <span class="icon"><img src="{% static 'images/shopping-list.png' %}" alt="cargo"></span>
                    <span class="item">Orders</span>
                </a>
            </li>
            <li>
                <a href="{% url 'seller:stock_update' %}">
                    <span class="icon"><img src="{% static 'images/update.png' %}" alt="update" ></span>
                    <span class="item">Stock update</span>
                </a>
            </li>
            <li>
                <a href="{% url 'seller:profile' %}">
                    <span class="icon"><img src="{% static 'images/user.png' %}" alt="logout"></span>
                    <span class="item">Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'seller:change_password' %}">
                    <span class="icon"><img src="{% static 'images/padlock.png' %}" alt="logout"></span>
                    <span class="item">Change password</span>
                </a>
            </li>
            <li>
                <a href="{% url 'seller:logout' %}">
                    <span class="icon"><img src="{% static 'images/logout.png' %}" alt="logout"></span>
                    <span class="item">Logout</span>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="item">Settings</span>
                </a>
            </li> -->
        </ul>
    </div>

    </div>

    </div>

</body>
</html>