{% extends 'common/home.html' %}
{% load static %}
{% block header %}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
{% endblock %}
{% block seller %}
{% endblock %}
{% block account %}
<li class="nav-item ">
    <a href="{% url 'customer:my_account' %}" class=""><img src="{% static 'images/account.png' %}" alt="account"
            width="32px" height="33px" class="img3"></a>
</li>
{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="col-lg-10">
        <div class="row">


        {% for cart in carts %}
            <div class="card" style="width: 20rem; display: inline-block;">

                <img src="{{cart.product.p_image.url}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">{{cart.product.p_name}}</h5>
                    <p class="card-text">{{cart.product.p_details}}</p>
                    <p class="card-text">Name of seller : {{cart.product.seller.s_firstname}}</p>
                    <p class="card-text">Price :
                        <input type="text" value="{{cart.product.p_price}}" name="price" id="price" readonly>
                    </p>
                    {% csrf_token %}
                    <p class="card-text">Quantity :
                        <input type="number" name="quantity" id="quantity" min="1" max="100">
                    
                    </p>
                    <p class="card-text">Total amount :
                        <input type="text" name="amount" id="amount" readonly>
                    </p>
                    <p class="card-text" hidden>{{cart.product.id}}</p>
                    <a href="#"><button class="btn btn-dark">Buy now</button></a>
                    <a href="{% url 'customer:remove_cart' cart.product.id %}"><button
                            class="btn btn-dark">Remove</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>

$(document).ready(function(){
        $.ajaxSetup({
            headers : {
                "X-CSRFToken" : $ ("[name=csrfmiddlewaretoken]").val()
            }
        })
        $("#quantity").change(function(){
        var quantity = $ ("#quantity").val()
        var price = $ ("#price").val()
        console.log(quantity)
        console.log(price)
        $.ajax({
            url : "{% url 'customer:total_amount' %}" ,
            data : {
                "quantity" : quantity ,
                "price" : price ,
        },
        method : 'POST' ,
        success : function (response) {
          // $("#amount").val($("#amount").val() + response.total)  
          document.getElementById("amount").value = response.total   
       
        }

      })
    })
    
  })
</script>


{% endblock %}