{% extends 'customer/home.html' %}
{% load static %}
{% block header %}
 <link rel="stylesheet" href="{% static 'css/account.css' %}">
 <link rel="stylesheet" href="{% static 'css/change.css' %}">
{% endblock %}
<!-- {% block seller %}
{% endblock %} -->
<!-- {% block account %}
<li class="nav-item ">
<a href="{% url 'customer:my_account' %}" class=""><img src="{% static 'images/account.png' %}" alt="account" width="32px" height="33px" class="img3" ></a>
</li>
{% endblock %} -->
{% block content %}
<span class="orders"><h2> Orders</h2></span>
  <span class="my"><a href="" class="link"> My orders</a></span>
<br><br>

  <span class="info"><h2>Profile</h2> </span>
  <span class="person"><a href="{% url 'customer:personal_info' %}" class="link">Personal Information</a>   <br>
  <a href="{% url 'customer:change_password' %}" class="link">Change password</a> 
  </span>

    <div class="main">
        <form action="" method="POST">
        {% csrf_token %}
      <div class="mb-3 form1" >
          <label for="formGroupExampleInput" class="form-label">Enter your old password</label>
          <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Old password" name="old_password">
        </div>
        <div class="mb-3 form2">
          <label for="formGroupExampleInput2" class="form-label">Enter new password</label>
          <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="New password" name="new_password">
        </div>
        <div class="mb-3 form2">
            <label for="formGroupExampleInput2" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="New password" name="new_password">
          </div>
        <br>

        <button type="submit" class="btn btn-dark " name="change_password">Confirm</button>
    </form>
    <span>{{msg}}</span>
    </div>
    <br> <br> <br> <br><br> <br>  <br><br> <br> <br><br> <br><br>
  
{% endblock %}



<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
   <link rel="stylesheet" href="{% static 'css/change.css' %}">
   <link rel="stylesheet" href="{% static 'css/account.css' %}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top ">
   
  
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/th.jpg' %}" alt="" width="70" height="50" class="d-inline-block align-text-center">
          Choose Yours
        </a>
         
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>  
          <span class="navbar-toggler-icon"></span> 
          <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#"> <b> WOMEN </b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <b> MEN</b> </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="#"> <b> KIDS</b></a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link "> <b>ACCESSORIES</b> </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link " href="{% url 'customer:logout' %}">   <b>LOGOUT</b></a> </a>
            </li>
          </ul>
          
        <img src="{% static 'images/account.png' %}" alt="account" width="32px" height="30px" class="img3">
        <img src="{% static 'images/love.png' %}" alt="wishlist" width="33px" height="34px" class="img1">
        <a href="{% url 'customer:cart' %}"><img src="{% static 'images/shopping-cart.png' %}" alt="cart" width="35px" height="33px" class="img2"></a> 
      </div>
    </div>
  </nav>


  <span class="orders"><h2> Orders</h2></span>
  <span class="my"><a href="" class="link"> My orders</a></span>
<br><br>

  <span class="info"><h2>Profile</h2> </span>
  <span class="person"><a href="" class="link">Personal Information</a>   <br>
  <a href="{% url 'customer:change_password' %}" class="link">Change password</a> 
  </span>

    <div class="main">
        <form action="" method="POST">
        {% csrf_token %}
      <div class="mb-3 form1" >
          <label for="formGroupExampleInput" class="form-label">Enter your old password</label>
          <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Old password" name="old_password">
        </div>
        <div class="mb-3 form2">
          <label for="formGroupExampleInput2" class="form-label">Enter new password</label>
          <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="New password" name="new_password">
        </div>
        <div class="mb-3 form2">
            <label for="formGroupExampleInput2" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="New password" name="new_password">
          </div>
        <br>

        <button type="submit" class="btn btn-dark " name="change_password">Confirm</button>
    </form>
    <span>{{msg}}</span>
    </div>
</body>
</html> --> 