{% extends 'common/home.html' %}
{% load static %} 
{% block header %} 
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<style>
 /* .img3{
    position: absolute;
    top: 30px;
    
}  */
 /* .img1{
    position: absolute;
    right: 300px;
}  */

.card{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
 
</style>
{% endblock %}
{% block seller %}
{% if 'customerid' in request.session %} 
<p class="nav-link"><b>Welcome,{{userdata.c_firstname}}</b></p>
{% endif %}
{% endblock %}

{% block account %}
<li class="nav-item ">
<a href="{% url 'customer:my_account' %}" class=""><img src="{% static 'images/account.png' %}" alt="account" width="32px" height="33px" class="img3" ></a>
</li>
{% endblock %}



{% block content %}
<br><br>
     <!-- <div class="container-fluid" > 
      <div class="row"> -->

        <!-- filter -->
        <!-- <div class="col-lg-3 mx-auto">
       
          <div class="list-group">
           {% for category in categories %}
            <a href="" class="list-group-item list-group-item-action " aria-current="true">
           {{category.name}}
            </a>
           {% endfor %}
           
          </div>
          
        </div>
      </div>


      <div class="col-lg-10 mx-auto" id="products">
       <div class="row mx-auto">
        {% for product in products %}
        <div class="card mt-5 ms-auto me-auto text-center" style="width: 18rem; display: inline-block">
          <a href="{% url 'customer:view_product' product.id %}">
            <img src="{{product.p_image.url}}" class="card-img-top img-fluid" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{product.p_name}}</h5>
            <p class="card-text">{{product.p_details}}</p>
            <p class="card-text">Price : {{product.p_price}} Rupees</p>
            <p class="card-text">Sold by : {{product.seller.s_firstname}}</p> -->
            <!-- <a href="{% url 'customer:add_to_cart' product.id %}" class="btn btn-dark">Add to cart</a> -->
          <!-- </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
    </div> -->
    <div class="container-fluid mt-5"> 
      <div class="row">

       <!-- filter -->
       <div class="col-lg-3 mx-auto">
      
         <div class="list-group">
           {% for category in categories %}
           <a href="{% url 'customer:category' category.id %}" class="list-group-item list-group-item-action " aria-current="true">
             {{category.name}}
           </a>
           {% endfor %}
          
         </div>
         
       </div>



       <!-- all products -->
       <div id="products" class="col-lg-9 mx-auto">
         <div class="row mx-auto">                                                           
           {% for product in products %}                                       
           <div class="card mb-3 mt-3 me-5" style="width: 15rem; display: inline-block;">
             <a href="{% url 'customer:view_product' product.id %}">
             <img src="{{product.p_image.url}}" class="card-img-top" alt="...">
           </a>
             <div class="card-body">
              <h5 class="card-title">{{product.p_name}}</h5>
              <p class="card-text">{{product.p_details}}</p>
              <p class="card-text">Price : {{product.p_price}} Rupees</p>
              <p class="card-text">Sold by : {{product.seller.s_firstname}}</p> 
              <p class="card-text">{{product.category.name}}</p>
              <!-- <a href="{% url 'customer:add_to_cart' product.id %}" class="btn btn-dark">Add to cart</a> -->
             </a>
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
      </div>
     </div>
     
     

{% endblock %}