{% extends 'common/home.html' %}
{% load static %} 
{% block header %}
<style>
  .card{
    margin-top: 59px !important;
  }
</style>
{% endblock %}
{% block seller %}
{% endblock %}
{% block account %}
<li class="nav-item ">
<a href="{% url 'customer:my_account' %}" class=""><img src="{% static 'images/account.png' %}" alt="account" width="32px" height="33px" class="img3" ></a>
</li>
{% endblock %}
{% block content %}
 <!-- image card -->
     <div class="card text-center" style="width: 40rem; margin-left: 320px; margin-top: 100px;">
        <img src="{{product.p_image.url}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.p_name}}</h5>
          <p class="card-text">{{product.p_details}}</p>
          <p class="card-text">Price : {{product.p_price}} Rupees</p>
          <p class="card-text">Sold by : {{product.seller.s_firstname}}</p>
          <p class="card-text">{{product.category.name}}</p>
          <p class="card-text">Quantity :
            <input type="number" name="quantity" min="1" max="100">
          </p>
          <p class="card-text" >
            <input type="hidden" value="{{product.id}}" class="product_id">
          </p>
          <a href="{% url 'customer:add_to_cart' product.id %}" ><button type="submit" class="btn btn-dark addToCartBtn">Add to Cart</button> </a>
        </div>
      </div>
{% endblock %} 




</body>
</html>  